<!DOCTYPE html>
<html>
<head>
<meta charset="UTF-8">
<title>Currency Converter</title>
<script src="https://unpkg.com/vue@3/dist/vue.global.js"></script>
</head>

<body style="font-family:Arial;background:#020617;color:#fff;padding:40px">

<h1>Currency Converter</h1>

<div id="curApp">
<input v-model="amount" placeholder="Amount">

<select v-model="from">
<option>INR</option>
<option>USD</option>
<option>EUR</option>
</select>

<select v-model="to">
<option>USD</option>
<option>INR</option>
<option>EUR</option>
</select>

<button @click="convert">Convert</button>

<p v-if="result">{{ result }}</p>
</div>

<script>
const rates={
INR:{USD:0.012,EUR:0.011},
USD:{INR:83,EUR:0.92},
EUR:{INR:90,USD:1.08}
};

const { createApp } = Vue;
createApp({
data(){return{amount:"",from:"INR",to:"USD",result:""}},
methods:{
convert(){
let r=rates[this.from][this.to];
this.result=(this.amount*r).toFixed(2)+" "+this.to;
}
}
}).mount("#curApp");
</script>

</body>
</html>