<!DOCTYPE html>
<html>
<head>
<meta charset="UTF-8">
<title>Discount Calculator</title>
<script src="https://unpkg.com/vue@3/dist/vue.global.js"></script>
</head>

<body style="font-family:Arial;background:#020617;color:#fff;padding:40px">

<h1>Discount Calculator</h1>

<div id="discApp">
<input v-model="price" placeholder="Original Price">
<input v-model="discount" placeholder="Discount %">

<button @click="calc">Calculate</button>

<p v-if="final">Final Price: {{ final }}</p>
</div>

<script>
const { createApp } = Vue;
createApp({
data(){return{price:"",discount:"",final:""}},
methods:{
calc(){
let p=this.price;
let d=this.discount;
let f=p-(p*d/100);
this.final=f.toFixed(2);
}
}
}).mount("#discApp");
</script>

</body>
</html>